<footer class="site-footer" x-data>
  <p class="container">
    MIT license <span x-text="new Date().getFullYear()"></span> ·
    <a href="https://github.com/moebiusmania/subs-tracker" target="_blank" rel="noopener noreferrer">an Open Source project</a>
    made with <span class="heart" aria-label="love">&lt;3</span> by
    <a href="https://salvatorelaisa.blog" target="_blank" rel="noopener noreferrer">Salvatore Laisa</a>
  </p>
</footer>
