<footer class="site-footer">
  <p class="container">
    <span x-text="$t.footer.license">{{ i18n.en.footer.license }}</span> <span x-text="new Date().getFullYear()"></span> ·
    <a href="https://github.com/moebiusmania/subs-tracker" target="_blank" rel="noopener noreferrer" x-text="$t.footer.project">{{ i18n.en.footer.project }}</a>
    <span x-text="$t.footer.madeBy">{{ i18n.en.footer.madeBy }}</span>
    <a href="https://github.com/moebiusmania" target="_blank" rel="noopener noreferrer">Salvatore Laisa</a>
  </p>
</footer>
